<div class="container">{{$pageContent := .page_content}}{{$document := .document}}{{$parentDocuments := .parent_documents}}
    <div class="row center">{{$createUser := .create_user}}{{$editUser := .edit_user}}
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="panel panel-body">
                <div id="document_page_view">
                    <h3 class="view-page-title"><i class="fa fa-file-word-o"></i> {{$document.name}}</h3>
                    <p class="view-page-path"><i class="fa fa-folder fa-fw"></i>
                    {{range $parentDocument := $parentDocuments}}
                    {{if eq $parentDocument.parent_id "0"}}
                        {{$parentDocument.name}}
                    {{else}}
                        / {{$parentDocument.name}}
                    {{end}}
                    {{end}}
                    </p>
                    <p class="view-page-time">
                        <i class="fa fa-newspaper-o fa-fw"></i>
                        创建于 {{dateFormat $document.create_time "Y/m/d H:i:s"}} By  {{$createUser.username}}（{{$createUser.given_name}}）
                    </p>
                    <p class="view-page-time">
                        <i class="fa fa-edit fa-fw"></i>
                        修改于 {{dateFormat $document.update_time "Y/m/d H:i:s"}} By  {{$editUser.username}}（{{$editUser.given_name}}）
                    </p>
                    <p>
                        <label>
                            <input class="input-share" value="{{$document.share_id}}" data-share-id="{{$document.share_id}}" />
                            <button class="btn-share-copy">复制链接</button>
                            <span class="msg-share"></span>
                        </label>
                    </p>
                    <hr style="margin: 0">
                    <textarea style="display:none;">{{$pageContent}}</textarea>
                </div>
            </div>
            <div class="panel panel-body">
                <div class="text-center">
                    © {{.copyright}}
                    &nbsp;<i class="glyphicon glyphicon-hand-right"></i>
                    <a target="_blank" href="https://github.com/phachon/MM-Wiki">Powered by MM Wiki {{.version}}</a>
                </div>
            </div>
        </div>
        <div class="col-md-1" id="display_section">
            <div class="share-popup center">
                <label> 分享到 <i class="fa fa-wechat"></i> <i class="fa fa-qq"></i></label>
                <div id="document-qrcode"></div>
                <label>打开微信“扫一扫”</label>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function() {
        if (Common.isMobile()) {
            $("#display_section").hide()
        }

        editormd.katexURL = {
            js  : "/static/plugins/editor.md/lib/katex/katex.min",
            css : "/static/plugins/editor.md/lib/katex/katex.min"
        };
        editormd.markdownToHTML("document_page_view", {
            path : '/static/plugins/editor.md/lib/',
            //htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
            htmlDecode      : "style,script,iframe",  // you can filter tags decode
            //toc             : false,
            tocm            : true,    // Using [TOCM]
            //tocContainer    : "#custom-toc-container", // 自定义 ToC 容器层
            //gfm             : false,
            //tocDropdown     : true,
            //markdownSourceCode : true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
            emoji           : false,
            taskList        : true,
            tex             : true,  // 默认不解析
            flowChart       : true,  // 默认不解析
            sequenceDiagram : true,  // 默认不解析
        });

        $.scrollUp({
            animation: 'fade',
            // activeOverlay: '#00FFFF',
            scrollImg: {
                active: true,
                type: 'background',
                src: 'img/top.png'
            }
        });

        // 处理分享链接
        let val = $(".input-share").val();
        if (val) {
            console.log(window.location)
            $(".input-share").val(window.location.origin + "/s/" + val);
        }

        $(".btn-share-copy").click(function () {
            $(".input-share").select();
            document.execCommand("Copy");
            $(".msg-share").html("复制成功，可使用ctrl + v粘贴");
            // 10秒后清除提示
            setTimeout(function () {
                $(".msg-share").html("");
            }, 10000)
        });

        $('#document-qrcode').qrcode({
            width: 120,
            height: 120,
            text: window.location.href
        });


        function copyToClipboard(txt) {
            if (window.clipboardData) {
                window.clipboardData.clearData();
                clipboardData.setData("Text", txt);
                alert("复制成功！");

            } else if (navigator.userAgent.indexOf("Opera") != -1) {
                window.location = txt;
            } else if (window.netscape) {
                try {
                    netscape.security.PrivilegeManager.enablePrivilege("UniversalXPConnect");
                } catch (e) {
                    alert("被浏览器拒绝！\n请在浏览器地址栏输入'about:config'并回车\n然后将 'signed.applets.codebase_principal_support'设置为'true'");
                }
                var clip = Components.classes['@mozilla.org/widget/clipboard;1'].createInstance(Components.interfaces.nsIClipboard);
                if (!clip)
                    return;
                var trans = Components.classes['@mozilla.org/widget/transferable;1'].createInstance(Components.interfaces.nsITransferable);
                if (!trans)
                    return;
                trans.addDataFlavor("text/unicode");
                var str = new Object();
                var len = new Object();
                var str = Components.classes["@mozilla.org/supports-string;1"].createInstance(Components.interfaces.nsISupportsString);
                var copytext = txt;
                str.data = copytext;
                trans.setTransferData("text/unicode", str, copytext.length * 2);
                var clipid = Components.interfaces.nsIClipboard;
                if (!clip)
                    return false;
                clip.setData(trans, null, clipid.kGlobalClipboard);
                alert("复制成功！");
            }
        }
    });
</script>
<style>
    .input-share {
        width: 334px;
    }

    .btn-share-copy {
        height: 24px;
        line-height: 24px;
        outline: none;
        border: none;
        font-weight: normal;
        position: relative;
        top: 2px;
    }

    .btn-share-copy:hover {
        color: #337ab7;
    }
</style>